{% extends "fifa/base.html" %}

{% block "content" %}
    <h2>Bajnokságok</h2>
{% for object in object_list %}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ object.pk }}">
          {{object.idopont}}
        </a>
      </h4>
    </div>
    <div id="collapse-{{ object.pk }}" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
            {% for liga in object.liga_set.all %}
                <div class="col-md-4">
                <h3>{% if liga.tipus == "A" %}
                    <a href="{{ liga.get_absolute_url }}">{{ liga.tipus }} liga</a>
                    {% else %}
                    {{ liga.tipus }} liga
                {% endif %}</h3>
                {% include "fifa/includes/liga.html" %}
                </div>
{#                <li><a href="{% url "liga" pk=object.pk %}">{{ liga.tipus }} Liga</a></li>#}
            {% endfor %}
        </ul>
        <div class="col-md-6">
            <h3>Osztályozók: A ligáért</h3>
            {{ object.osztalyozo_A7_B4 }} <br/>
            {{ object.osztalyozo_A8_B3 }}
        </div>
        <div class="col-md-6">
            <h3>Osztályozók: B ligáért</h3>
            {{ object.osztalyozo_B7_C4 }} <br/>
            {{ object.osztalyozo_B8_C3 }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}