{% load bootstrap3 static %}{% load menu %}<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FIFA 2014</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static "style.css" %}"/>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FIFA 2014</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% get_active_link request 'emberek' 'Emberek' %}
                {% get_active_link request 'csapatok' 'Csapatok' %}
                {% get_active_link request 'bajnoksagok' 'Bajnokságok' %}
            </ul>
{#          <form class="navbar-form navbar-right" role="form">#}
{#            <div class="form-group">#}
{#              <input type="text" placeholder="Email" class="form-control">#}
{#            </div>#}
{#            <div class="form-group">#}
{#              <input type="password" placeholder="Password" class="form-control">#}
{#            </div>#}
{#            <button type="submit" class="btn btn-success">Sign in</button>#}
{#          </form>#}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div id="main" class="container">
        {% bootstrap_messages %}
        {% block "jumbotron" %}{% endblock %}
        <div class="row">
            {% block "content" %}
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
           </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
          </div>
           {% endblock %}
        </div>
      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "js/jquery.tablesorter.min.js" %}"></script>
    {% bootstrap_javascript %}
    <script src="{% static "js/fifa.js" %}"></script>
</body>
</html>