{% extends "fifa/base.html" %}

{% block "content" %}
    <h2>Csapatok</h2>
<ol class="panel-group col-md-4" id="accordion">
{% for object in object_list %}
  <li class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ object.pk }}">
          {{object.name}}
          <div class="pull-right">{{ object.pontszam }}</div>
        </a>
      </h4>
    </div>
    <div id="collapse-{{ object.pk }}" name="collapse-{{ object.pk }}" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
            {% for alkalom in object.participations %}
                {% if alkalom.tipus %}
                <li><a href="{{ alkalom.get_absolute_url }}">{{ alkalom }}</a></li>
                {% else %}
                <li><a href="{% url "bajnoksagok" %}#collapse-{{ alkalom.bajnoksag.pk }}">{{ alkalom }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div>
  </li>
{% endfor %}
</ol>
{% endblock %}