{% extends "fifa/base.html" %}

{% block "content" %}
    <h2>Emberek</h2>
<ol class="panel-group col-md-4" id="accordion">
{% for object in object_list %}
  <li class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ object.pk }}">
          {{object.name}}
          <div class="pull-right">{{ object.pontszam }}</div>
        </a>
      </h4>
    </div>
    <div id="collapse-{{ object.pk }}" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
            {% for csapat in object.csapat_set.all %}
                <li><a href="{% url "csapatok" %}#collapse-{{ csapat.pk }}">{{ csapat.name }}</a></li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </li>
{% endfor %}
</ol>
{% endblock %}