{% extends "fifa/base.html" %}

{% block "content" %}
<h1>{{ object.tipus }} liga - {{ object.bajnoksag }} <small class="pull-right"><a href="{% url "bajnoksagok" %}#collapse-{{ object.bajnoksag_id }}">Bajnokság részletei</a></small></h1>
{% if object.pos1 %}
<div class="col-md-6">
    <h2>Végeremény</h2>
    <ol>
    {% for csapat in object.eredmenyek %}
        <li>{{ csapat }}</li>
    {% endfor %}
    </ol>
</div>
<div class="col-md-6">
    <h2>Góllövőlista</h2>
</div>
<div class="col-md-12">
<h3>Mérkőzések</h3>
    <table class="table table-striped table-sortable">
    <thead><tr>
        <th>Hazai csapat</th>
        <th>Vendég csapat</th>
        <th>Hazai gólok</th>
        <th>Vendég gólok</th>
    </tr></thead>
    {% for merkozes in object.merkozes_set.all %}
    <tr>
        <td>{{ merkozes.home }}</td>
        <td>{{ merkozes.away }}</td>
        <td>{{ merkozes.home_score|default:"" }}</td>
        <td>{{ merkozes.away_score|default:"" }}</td>
    </tr>
    {% endfor %}
    </table>
</div>
{% else %}
<h2>Indulók</h2>
<ul>
{% for csapat in object.csapatok %}
    <li>{{ csapat }}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}